@implements IAsyncDisposable
@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor htp
@inject AuthenticationStateProvider authProvider

<h3>Чят</h3>

<AuthorizeView>
    <Authorized>
       
        <div class="form-group">
            <label>
                Message:
                <input @bind="messageInput" size="50" />
            </label>
        </div>
        <button @onclick="Send" disabled="@(!IsConnected)">Send</button>

    </Authorized> 
</AuthorizeView>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    [Parameter]
    public string Group { get; set; } = "default";

    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? messageInput;

    protected async override Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On("Update", () =>
        {
            StateHasChanged();
        });

        hubConnection.On<string>("Notify", (message) =>
        {
            var encodedMsg = $"{message}";
            messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        var authstate = await authProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (user != null && user.Claims.Count() > 0)
        {
            await hubConnection.InvokeAsync("Enter", Group, user.Claims.FirstOrDefault(m=>m.Type == ClaimTypes.NameIdentifier).Value);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            var authstate = await authProvider.GetAuthenticationStateAsync();
            var user = authstate.User;

            await hubConnection.SendAsync("SendMessage", user.Claims.FirstOrDefault(m=>m.Type == ClaimTypes.NameIdentifier).Value, messageInput);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
