@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Contestor.BlazorServer.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Регистрация</h1>

@if (Model.Contest != null)
{
    <h4>Регистрация в системе и подача заявки на конкурс "@Model.Contest.Title"</h4>
}

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Input.UserName"></label><br />
        <input asp-for="Input.UserName" />
        <span asp-validation-for="Input.UserName"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label><br />
        <input asp-for="Input.Password" type="password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" class="btn btn-primary" />
    </div>
</form>