@page "/voting"
@using System.Security.Claims
@using Contestor.Data.Contract.Models
@using Contestor.Service.Contract
@inject IContestService contestService
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<h3>Voting</h3>

@code {

}
